--建立台灣縣市表格

use CMDB;
go
IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'countrys')      
BEGIN
drop table countrys;

END                                                                                                                                                                                                                                                                                                                                                                                                                                                    
go


create table countrys (
 queue			int,
 countryID       varchar(5) not null,
 countryName			varchar(10),
 constraint countrys_primary_key primary key (countryID));

insert into countrys values (1,'KEE','基隆市');
insert into countrys values (2,'TPE','臺北市');
insert into countrys values (3,'NWT','新北市');

select * from countrys;
go