USE [master]
GO
/****** Object:  Database [CMDB]    Script Date: 2017/10/26 下午 06:37:11 ******/
CREATE DATABASE [CMDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMData', FILENAME = N'c:\_EEITProject\sqlDB\chewme.mdf' , SIZE = 10240KB , MAXSIZE = 1048576KB , FILEGROWTH = 20%)
 LOG ON 
( NAME = N'chewmeLog', FILENAME = N'c:\_EEITProject\sqlDB\chewme.ldf' , SIZE = 3072KB , MAXSIZE = 512000KB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMDB]
GO
/****** Object:  Table [dbo].[activity]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[activity](
	[actID] [int] IDENTITY(1,1) NOT NULL,
	[act_name] [varchar](50) NULL,
	[act_groups] [int] NULL,
	[act_current] [int] NULL,
	[BDate] [date] NULL,
	[EDate] [date] NULL,
	[activity_state] [int] NULL,
	[memId] [int] NOT NULL,
	[clubID] [int] NULL,
	[act_photo] [varchar](max) NULL,
 CONSTRAINT [dept2_primary_key] PRIMARY KEY CLUSTERED 
(
	[actID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[adphoto]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[adphoto](
	[photo_no] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[photo] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[photo_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ArticleShare]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ArticleShare](
	[articleID] [int] IDENTITY(1,1) NOT NULL,
	[memId] [int] NULL,
	[attractionID] [int] NULL,
	[contents] [varchar](max) NULL,
 CONSTRAINT [ArticleShare_primary_key] PRIMARY KEY CLUSTERED 
(
	[articleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[attractions]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[attractions](
	[attractionID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[county] [varchar](20) NULL,
	[type] [varchar](20) NULL,
	[address] [varchar](100) NULL,
	[tel] [varchar](50) NULL,
	[intro] [varchar](max) NULL,
	[image] [varbinary](max) NULL,
 CONSTRAINT [attractions_primary_key] PRIMARY KEY CLUSTERED 
(
	[attractionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[club_member_list]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_member_list](
	[memID] [int] NOT NULL,
	[clubID] [int] NOT NULL,
 CONSTRAINT [PK_club_member_list] PRIMARY KEY CLUSTERED 
(
	[memID] ASC,
	[clubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[clubs]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clubs](
	[clubID] [int] IDENTITY(1,1) NOT NULL,
	[clubName] [varchar](50) NOT NULL,
	[managerId] [int] NULL,
	[locationId] [int] NOT NULL,
	[brief] [varchar](50) NULL,
	[refURL] [varchar](50) NULL,
	[vistors] [int] NULL,
	[vistorsInMonth] [int] NULL,
	[addr] [varchar](50) NULL,
	[clubPic] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[clubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[collect]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[collect](
	[memId] [int] NOT NULL,
	[actID] [int] NOT NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_collect] PRIMARY KEY CLUSTERED 
(
	[memId] ASC,
	[actID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[comments]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[comments](
	[commentID] [int] IDENTITY(1,1) NOT NULL,
	[issueID] [int] NOT NULL,
	[content] [varchar](50) NULL,
	[commenterId] [int] NULL,
	[commentDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[commentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[countrys]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[countrys](
	[queue] [int] NULL,
	[countryID] [varchar](5) NOT NULL,
	[countryName] [varchar](10) NULL,
 CONSTRAINT [countrys_primary_key] PRIMARY KEY CLUSTERED 
(
	[countryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[countys]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[countys](
	[countyID] [int] NOT NULL,
	[countyName] [varchar](10) NULL,
	[countryName] [varchar](10) NULL,
	[countryID] [varchar](5) NULL,
 CONSTRAINT [countys_primary_key] PRIMARY KEY CLUSTERED 
(
	[countyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[issues]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[issues](
	[issueID] [int] IDENTITY(1,1) NOT NULL,
	[clubID] [int] NOT NULL,
	[issueTitle] [varchar](50) NULL,
	[issueContent] [varchar](300) NULL,
	[proposerID] [int] NULL,
	[issuepic] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[issueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[join_activitys]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[join_activitys](
	[memId] [int] NOT NULL,
	[actID] [int] NOT NULL,
 CONSTRAINT [PK_ join_activitys_list] PRIMARY KEY CLUSTERED 
(
	[memId] ASC,
	[actID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[m_friends_lists]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_friends_lists](
	[memId] [int] NOT NULL,
	[friendId] [int] NOT NULL,
	[fStatus] [nvarchar](20) NULL,
 CONSTRAINT [PK_m_friends_lists] PRIMARY KEY CLUSTERED 
(
	[memId] ASC,
	[friendId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[members]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[members](
	[memId] [int] IDENTITY(1,1) NOT NULL,
	[memberId] [varchar](30) NOT NULL,
	[memName] [nvarchar](20) NOT NULL,
	[memNickN] [nvarchar](20) NULL,
	[memPwd] [varchar](32) NOT NULL,
	[memBirthday] [date] NULL,
	[memMail] [varchar](50) NULL,
	[memAddr] [nvarchar](max) NULL,
	[memPhone] [varchar](15) NULL,
	[memIntr] [nvarchar](max) NULL,
	[memPhoto] [varchar](max) NULL,
	[memStatus] [nvarchar](20) NULL,
	[memRole] [nvarchar](20) NULL,
 CONSTRAINT [members_primary_key] PRIMARY KEY CLUSTERED 
(
	[memId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[msg_rooms]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msg_rooms](
	[msgRoomId] [int] NOT NULL,
	[memId] [int] NULL,
 CONSTRAINT [msg_rooms_primary_key] PRIMARY KEY CLUSTERED 
(
	[msgRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[msgs]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msgs](
	[msgRoomId] [int] NOT NULL,
	[msgNo] [int] NOT NULL,
	[memId] [int] NULL,
	[msg] [text] NULL,
	[msgTime] [timestamp] NOT NULL,
	[msgStatus] [int] NULL,
 CONSTRAINT [msgs_primary_key] PRIMARY KEY CLUSTERED 
(
	[msgNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[questions]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[questions](
	[questionId] [int] IDENTITY(1,1) NOT NULL,
	[clubId] [int] NOT NULL,
	[qTitle] [varchar](50) NULL,
	[qcontent] [varchar](300) NULL,
	[askerId] [int] NULL,
	[readed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[questionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[replys]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[replys](
	[reqlyId] [int] IDENTITY(1,1) NOT NULL,
	[questionId] [int] NOT NULL,
	[content] [varchar](300) NULL,
	[replyerId] [int] NULL,
	[replyDate] [date] NULL,
	[readed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[reqlyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[report]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[report](
	[memId] [int] NOT NULL,
	[actID] [int] NOT NULL,
	[reportContext] [varchar](1) NULL,
	[reportTime] [datetime] NULL,
 CONSTRAINT [PK_report] PRIMARY KEY CLUSTERED 
(
	[memId] ASC,
	[actID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[schedules]    Script Date: 2017/10/26 下午 06:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[schedules](
	[scheduleID] [int] IDENTITY(1,1) NOT NULL,
	[actID] [int] NULL,
	[attractionID] [int] NULL,
	[dayNo] [int] NULL,
	[period] [time](7) NULL,
	[remark] [varchar](max) NULL,
 CONSTRAINT [schedules_primary_key] PRIMARY KEY CLUSTERED 
(
	[scheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[activity] ON 

INSERT [dbo].[activity] ([actID], [act_name], [act_groups], [act_current], [BDate], [EDate], [activity_state], [memId], [clubID], [act_photo]) VALUES (1, N'九份一日', 15, 5, CAST(0x633D0B00 AS Date), CAST(0x633D0B00 AS Date), 0, 1, 2, NULL)
INSERT [dbo].[activity] ([actID], [act_name], [act_groups], [act_current], [BDate], [EDate], [activity_state], [memId], [clubID], [act_photo]) VALUES (2, N'九份二日', 10, 6, CAST(0x653D0B00 AS Date), CAST(0x673D0B00 AS Date), 0, 3, 2, NULL)
INSERT [dbo].[activity] ([actID], [act_name], [act_groups], [act_current], [BDate], [EDate], [activity_state], [memId], [clubID], [act_photo]) VALUES (3, N'九份三日', 12, 7, CAST(0x663D0B00 AS Date), CAST(0x693D0B00 AS Date), 0, 6, 1, NULL)
SET IDENTITY_INSERT [dbo].[activity] OFF
SET IDENTITY_INSERT [dbo].[ArticleShare] ON 

INSERT [dbo].[ArticleShare] ([articleID], [memId], [attractionID], [contents]) VALUES (1, 1, 1, N'風景好美')
INSERT [dbo].[ArticleShare] ([articleID], [memId], [attractionID], [contents]) VALUES (2, 2, 2, N'好漂亮')
INSERT [dbo].[ArticleShare] ([articleID], [memId], [attractionID], [contents]) VALUES (3, 3, 3, N'下次一定要再去')
SET IDENTITY_INSERT [dbo].[ArticleShare] OFF
SET IDENTITY_INSERT [dbo].[attractions] ON 

INSERT [dbo].[attractions] ([attractionID], [name], [county], [type], [address], [tel], [intro], [image]) VALUES (1, N'旺角迷你石頭火鍋', N'新北市', N'餐廳', N'新北市三重區正義南路2-1號', N'886-2-29747815', N'人氣強強滾的旺角食頭火鍋，是三重火鍋界的指標名店之一，沒有事先定位就很難吃到的盛況更是每天上演，在門外排上一、兩個小時也是常有的事，即使是夏天，旺角食頭火鍋依然天天爆滿，因此店家在幾年前從原本的舊址移至現在天台戲院對面的店面。相較於隨處可見的日式涮涮鍋，石頭火鍋的特色是在加入高湯前多了「炒」的動作，也稱作「炒肉式起鍋」，將肉片加入一碟由多種配料製成的炒料，包括洋蔥、蒜頭及麻油等先進行爆香，條味的黃金比例正是美味的來源，炒的時後服務人員細心地立起鍋圍，濃濃的香味竄鼻，快炒至月5分熟後撈起再放入高湯中煮，這道多出來的手續便是傳統石頭火鍋的特色，也是迷人之處。', NULL)
INSERT [dbo].[attractions] ([attractionID], [name], [county], [type], [address], [tel], [intro], [image]) VALUES (2, N'金山肉包王', N'新北市', N'餐廳', N'新北市金山區中山路237號', N'886-2-24985787', N'除了逛老街外，來到金山也是逛北海岸風景區補充體力、美食的中繼站。位於市區中山路上、金山市場外面的「金山肉包王」，以香濃味美的「蔥肉肉包」，25年來奠定了包子店在遊客心中的「包子王」地位。尤其假日時間一到中午，店門前大排長龍的人潮、車潮令人嘆為觀止，所有人都是為了那一粒皮Q肉餡飽滿的肉包而來。金山肉包王從原本一種臺式口味的蔥肉包，一直發展到5種口味，不論蔥肉、滷肉、高麗菜、酸菜、素菜還是紅豆，都十分受到行家的喜愛。經常可見高級轎車停了下來，一買就是幾十顆，掃貨的景象令人咋舌，也不難發覺肉包王的魅力。這兒包子好吃的秘訣，在於中筋麵糰前一天就先低溫發酵，內餡用金山市場內的溫體黑豬肉，加上老闆獨家調味，蒸起來香氣四溢，令人聞香下馬。', NULL)
INSERT [dbo].[attractions] ([attractionID], [name], [county], [type], [address], [tel], [intro], [image]) VALUES (3, N'泰味廚房', N'新北市', N'餐廳', N'新北市板橋區中山路二段42號', N'886-2-82573903', N'提起板橋的平價泰國菜，位於民生路二段的泰味廚房可說是當地老饕們的最愛，南洋風情與巧思妙藝，在餐廳裡除了一般常見的泰國美食，還有難得一見的南洋料理，用餐、宴客都能嚐出主廚的用心。通常消費者耳熟能詳的泰國菜，以椒麻雞、月亮蝦餅、蝦醬空心菜、涼拌海鮮、咖哩飯…等菜色最常見到，由於泰國與滇、緬接鄰，飲食習慣接近，這類型菜色在滇緬餐館也都能發現。不過，泰味廚房的泰式料理則更有南洋風，酸、辣的配料搭得極好，其中椒麻雞、香蘭葉包雞、泰北辣拌豬肉、泰式炒河粉都是這裡的招牌菜，來此必點必嚐。', NULL)
SET IDENTITY_INSERT [dbo].[attractions] OFF
SET IDENTITY_INSERT [dbo].[clubs] ON 

INSERT [dbo].[clubs] ([clubID], [clubName], [managerId], [locationId], [brief], [refURL], [vistors], [vistorsInMonth], [addr], [clubPic]) VALUES (1, N'chewme旅行社', 1, 1, N'我們是chewme旅行社,希望大家能夠來這結交到好友', N'http://www.chewme.com', 6, 2, N'台北市大安區大安捷運站', NULL)
INSERT [dbo].[clubs] ([clubID], [clubName], [managerId], [locationId], [brief], [refURL], [vistors], [vistorsInMonth], [addr], [clubPic]) VALUES (2, N'建業旅行社', 1, 1, N'建業旅行社,提供重機行程', N'http://www.chianya.com', 2, 1, N'新北市新店區民權路', NULL)
SET IDENTITY_INSERT [dbo].[clubs] OFF
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([commentID], [issueID], [content], [commenterId], [commentDate]) VALUES (1, 1, N'十一月天氣有點冷,還是說這次去墾丁會更好', 1, CAST(0x733D0B00 AS Date))
SET IDENTITY_INSERT [dbo].[comments] OFF
INSERT [dbo].[countrys] ([queue], [countryID], [countryName]) VALUES (10, N'CHA', N'彰化縣')
INSERT [dbo].[countrys] ([queue], [countryID], [countryName]) VALUES (12, N'CYI', N'嘉義市')
INSERT [dbo].[countrys] ([queue], [countryID], [countryName]) VALUES (13, N'CYQ', N'嘉義縣')
INSERT [dbo].[countys] ([countyID], [countyName], [countryName], [countryID]) VALUES (100, N'中正區', N'臺北市', N'TPE')
INSERT [dbo].[countys] ([countyID], [countyName], [countryName], [countryID]) VALUES (103, N'大同區', N'臺北市', N'TPE')
INSERT [dbo].[countys] ([countyID], [countyName], [countryName], [countryID]) VALUES (104, N'中山區', N'臺北市', N'TPE')
GO
SET IDENTITY_INSERT [dbo].[issues] ON 

INSERT [dbo].[issues] ([issueID], [clubID], [issueTitle], [issueContent], [proposerID], [issuepic]) VALUES (1, 1, N'第一個在社團裡面的議題', N'', 1, NULL)
INSERT [dbo].[issues] ([issueID], [clubID], [issueTitle], [issueContent], [proposerID], [issuepic]) VALUES (2, 1, N'第二個在社團裡面的議題', N'因為是第二個社團示範一題', 2, NULL)
SET IDENTITY_INSERT [dbo].[issues] OFF
INSERT [dbo].[m_friends_lists] ([memId], [friendId], [fStatus]) VALUES (1, 3, N'好友')
INSERT [dbo].[m_friends_lists] ([memId], [friendId], [fStatus]) VALUES (1, 4, N'好友')
INSERT [dbo].[m_friends_lists] ([memId], [friendId], [fStatus]) VALUES (1, 5, N'待確認')
SET IDENTITY_INSERT [dbo].[members] ON 

INSERT [dbo].[members] ([memId], [memberId], [memName], [memNickN], [memPwd], [memBirthday], [memMail], [memAddr], [memPhone], [memIntr], [memPhoto], [memStatus], [memRole]) VALUES (1, N'eeit970301', N'蔡家華', N'番薯島小霸王', N'eeit970301', CAST(0xDE160B00 AS Date), N'eeit970301@gmail.com', N'台北市大安區和平東路1號', N'0912-345-678', N'哇哈哈哈哈', NULL, N'正常', N'一般會員')
INSERT [dbo].[members] ([memId], [memberId], [memName], [memNickN], [memPwd], [memBirthday], [memMail], [memAddr], [memPhone], [memIntr], [memPhoto], [memStatus], [memRole]) VALUES (2, N'eeit970302', N'馬立夯', N'贏馬赫', N'eeit970302', CAST(0x4FFE0A00 AS Date), N'eeit970302@gmail.com', N'基隆市中正區和平東路5號', N'0987-645-321', N'我愛騎車旅遊', NULL, N'正常', N'社團管理員')
INSERT [dbo].[members] ([memId], [memberId], [memName], [memNickN], [memPwd], [memBirthday], [memMail], [memAddr], [memPhone], [memIntr], [memPhoto], [memStatus], [memRole]) VALUES (3, N'eeit970303', N'陳建志', N'見仁見智', N'eeit970303', CAST(0x3EF90A00 AS Date), N'eeit970303@gmail.com', N'台北市中正區館前路257號', N'0966-555-444', N'我喜歡爬山', NULL, N'正常', N'一般會員')
SET IDENTITY_INSERT [dbo].[members] OFF
SET IDENTITY_INSERT [dbo].[questions] ON 

INSERT [dbo].[questions] ([questionId], [clubId], [qTitle], [qcontent], [askerId], [readed]) VALUES (1, 1, N'番薯島小霸王提問', N'你好,我是番薯島小霸王,看到你們的社團感到十分興趣,請問你們大概是多久出團一次呢', 1, 0)
SET IDENTITY_INSERT [dbo].[questions] OFF
SET IDENTITY_INSERT [dbo].[replys] ON 

INSERT [dbo].[replys] ([reqlyId], [questionId], [content], [replyerId], [replyDate], [readed]) VALUES (1, 1, N'回覆:番薯島小霸王你好,感謝你的來信,我們的社團大約每個禮拜都會有一天的出團活動,大約在一個禮拜前就會公布我們的行程及其價格,可以點選參加我們的社團,我們會不定期的寄給你們我們最新行程', 2, CAST(0x733D0B00 AS Date), 1)
INSERT [dbo].[replys] ([reqlyId], [questionId], [content], [replyerId], [replyDate], [readed]) VALUES (2, 1, N'回覆:感謝你,那請問社團有年費或月費的制度嗎?', 1, CAST(0x733D0B00 AS Date), 1)
INSERT [dbo].[replys] ([reqlyId], [questionId], [content], [replyerId], [replyDate], [readed]) VALUES (3, 1, N'回覆:我們的社團並沒有收取任何的年費及月費,我們的費用為每次單次的出團費用?', 2, CAST(0x733D0B00 AS Date), 1)
SET IDENTITY_INSERT [dbo].[replys] OFF
/****** Object:  Index [UQ__members__338F576CB6EB6D15]    Script Date: 2017/10/26 下午 06:37:11 ******/
ALTER TABLE [dbo].[members] ADD UNIQUE NONCLUSTERED 
(
	[memId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__members__7FD7CF17A50CF3A6]    Script Date: 2017/10/26 下午 06:37:11 ******/
ALTER TABLE [dbo].[members] ADD UNIQUE NONCLUSTERED 
(
	[memberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__members__A16874B6DB58656D]    Script Date: 2017/10/26 下午 06:37:11 ******/
ALTER TABLE [dbo].[members] ADD UNIQUE NONCLUSTERED 
(
	[memNickN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activity]  WITH CHECK ADD  CONSTRAINT [FK_activity_clubs] FOREIGN KEY([clubID])
REFERENCES [dbo].[clubs] ([clubID])
GO
ALTER TABLE [dbo].[activity] CHECK CONSTRAINT [FK_activity_clubs]
GO
ALTER TABLE [dbo].[activity]  WITH CHECK ADD  CONSTRAINT [FK_activity_members] FOREIGN KEY([memId])
REFERENCES [dbo].[members] ([memId])
GO
ALTER TABLE [dbo].[activity] CHECK CONSTRAINT [FK_activity_members]
GO
ALTER TABLE [dbo].[ArticleShare]  WITH CHECK ADD  CONSTRAINT [FK_ArticleShare_attractions] FOREIGN KEY([attractionID])
REFERENCES [dbo].[attractions] ([attractionID])
GO
ALTER TABLE [dbo].[ArticleShare] CHECK CONSTRAINT [FK_ArticleShare_attractions]
GO
ALTER TABLE [dbo].[ArticleShare]  WITH CHECK ADD  CONSTRAINT [FK_ArticleShare_members] FOREIGN KEY([memId])
REFERENCES [dbo].[members] ([memId])
GO
ALTER TABLE [dbo].[ArticleShare] CHECK CONSTRAINT [FK_ArticleShare_members]
GO
ALTER TABLE [dbo].[club_member_list]  WITH CHECK ADD  CONSTRAINT [FK_club_member_list_clubs] FOREIGN KEY([clubID])
REFERENCES [dbo].[clubs] ([clubID])
GO
ALTER TABLE [dbo].[club_member_list] CHECK CONSTRAINT [FK_club_member_list_clubs]
GO
ALTER TABLE [dbo].[club_member_list]  WITH CHECK ADD  CONSTRAINT [FK_club_member_list_members] FOREIGN KEY([memID])
REFERENCES [dbo].[members] ([memId])
GO
ALTER TABLE [dbo].[club_member_list] CHECK CONSTRAINT [FK_club_member_list_members]
GO
ALTER TABLE [dbo].[collect]  WITH CHECK ADD  CONSTRAINT [FK_collect_activity] FOREIGN KEY([actID])
REFERENCES [dbo].[activity] ([actID])
GO
ALTER TABLE [dbo].[collect] CHECK CONSTRAINT [FK_collect_activity]
GO
ALTER TABLE [dbo].[collect]  WITH CHECK ADD  CONSTRAINT [FK_collect_members] FOREIGN KEY([memId])
REFERENCES [dbo].[members] ([memId])
GO
ALTER TABLE [dbo].[collect] CHECK CONSTRAINT [FK_collect_members]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_issues] FOREIGN KEY([issueID])
REFERENCES [dbo].[issues] ([issueID])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_issues]
GO
ALTER TABLE [dbo].[issues]  WITH CHECK ADD  CONSTRAINT [FK_issues_clubs] FOREIGN KEY([clubID])
REFERENCES [dbo].[clubs] ([clubID])
GO
ALTER TABLE [dbo].[issues] CHECK CONSTRAINT [FK_issues_clubs]
GO
ALTER TABLE [dbo].[join_activitys]  WITH CHECK ADD  CONSTRAINT [FK_join_activitys_activity] FOREIGN KEY([actID])
REFERENCES [dbo].[activity] ([actID])
GO
ALTER TABLE [dbo].[join_activitys] CHECK CONSTRAINT [FK_join_activitys_activity]
GO
ALTER TABLE [dbo].[join_activitys]  WITH CHECK ADD  CONSTRAINT [FK_join_activitys_members] FOREIGN KEY([memId])
REFERENCES [dbo].[members] ([memId])
GO
ALTER TABLE [dbo].[join_activitys] CHECK CONSTRAINT [FK_join_activitys_members]
GO
ALTER TABLE [dbo].[m_friends_lists]  WITH CHECK ADD  CONSTRAINT [FK_m_friends_lists_members] FOREIGN KEY([memId])
REFERENCES [dbo].[members] ([memId])
GO
ALTER TABLE [dbo].[m_friends_lists] CHECK CONSTRAINT [FK_m_friends_lists_members]
GO
ALTER TABLE [dbo].[m_friends_lists]  WITH CHECK ADD  CONSTRAINT [FK_m_friends_lists_members1] FOREIGN KEY([friendId])
REFERENCES [dbo].[members] ([memId])
GO
ALTER TABLE [dbo].[m_friends_lists] CHECK CONSTRAINT [FK_m_friends_lists_members1]
GO
ALTER TABLE [dbo].[msg_rooms]  WITH CHECK ADD  CONSTRAINT [FK_msg_rooms_members] FOREIGN KEY([memId])
REFERENCES [dbo].[members] ([memId])
GO
ALTER TABLE [dbo].[msg_rooms] CHECK CONSTRAINT [FK_msg_rooms_members]
GO
ALTER TABLE [dbo].[msgs]  WITH CHECK ADD  CONSTRAINT [FK_msgs_msg_rooms] FOREIGN KEY([msgRoomId])
REFERENCES [dbo].[msg_rooms] ([msgRoomId])
GO
ALTER TABLE [dbo].[msgs] CHECK CONSTRAINT [FK_msgs_msg_rooms]
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD  CONSTRAINT [FK_questions_clubs] FOREIGN KEY([clubId])
REFERENCES [dbo].[clubs] ([clubID])
GO
ALTER TABLE [dbo].[questions] CHECK CONSTRAINT [FK_questions_clubs]
GO
ALTER TABLE [dbo].[replys]  WITH CHECK ADD  CONSTRAINT [FK_replys_questions] FOREIGN KEY([questionId])
REFERENCES [dbo].[questions] ([questionId])
GO
ALTER TABLE [dbo].[replys] CHECK CONSTRAINT [FK_replys_questions]
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD  CONSTRAINT [FK_report_activity] FOREIGN KEY([actID])
REFERENCES [dbo].[activity] ([actID])
GO
ALTER TABLE [dbo].[report] CHECK CONSTRAINT [FK_report_activity]
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD  CONSTRAINT [FK_report_members] FOREIGN KEY([memId])
REFERENCES [dbo].[members] ([memId])
GO
ALTER TABLE [dbo].[report] CHECK CONSTRAINT [FK_report_members]
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD  CONSTRAINT [FK_schedules_activity] FOREIGN KEY([actID])
REFERENCES [dbo].[activity] ([actID])
GO
ALTER TABLE [dbo].[schedules] CHECK CONSTRAINT [FK_schedules_activity]
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD  CONSTRAINT [FK_schedules_attractions] FOREIGN KEY([attractionID])
REFERENCES [dbo].[attractions] ([attractionID])
GO
ALTER TABLE [dbo].[schedules] CHECK CONSTRAINT [FK_schedules_attractions]
GO
USE [master]
GO
