use CMDB
alter table [dbo].[activity] drop constraint [FK_AC_clubID]
alter table [dbo].[activity] drop constraint [FK_AM_MemID]
alter table [dbo].[article_share] drop constraint [FK_IC_attractionID]
alter table [dbo].[article_share] drop constraint [FK_IC_mId]
alter table [dbo].[club_member_list] drop constraint [FK_CM_ClubID]
alter table [dbo].[club_member_list] drop constraint [FK_CM_MemID]
alter table [dbo].[collections] drop constraint [FK_CA_actID]
alter table [dbo].[collections] drop constraint [FK_ColM_memId]
alter table [dbo].[comments] drop constraint [FK_IC_IssueID]
alter table [dbo].[issues] drop constraint [FK_CI_ClubID]
alter table [dbo].[join_activitys] drop constraint [FK_MA_actID]
alter table [dbo].[m_friends_lists] drop constraint [mf_friendslists_foreign_key]
alter table [dbo].[m_friends_lists] drop constraint [mf_member_foreign_key]
alter table [dbo].[msg_rooms] drop constraint [msg_rooms_foreign_key]
alter table [dbo].[msgs] drop constraint [msg_foreign_key]
alter table [dbo].[questions] drop constraint [FK_CQ_ClubID]
alter table [dbo].[replys] drop constraint [FK_QR_quetionID]
alter table [dbo].[report] drop constraint [FK_RA_actID]
alter table [dbo].[report] drop constraint [FK_RM_memId]