USE CMDB;
GO

IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'join_activitys')      
BEGIN
IF (OBJECT_ID('FK_MJ_memId', 'F') IS NOT NULL)
BEGIN
    Alter TABLE join_activitys DROP CONSTRAINT FK_MJ_memId 
END 
END
go 

IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'collection')
BEGIN
IF (OBJECT_ID('FK_CM_memId', 'F') IS NOT NULL)
BEGIN
    Alter TABLE collection DROP CONSTRAINT FK_CM_memId
END
END
go

IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'report')
BEGIN
IF (OBJECT_ID('FK_RM_memId', 'F') IS NOT NULL)
BEGIN
    Alter TABLE report DROP CONSTRAINT FK_RM_memId
END
END
go
		

IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'm_friends_lists')
BEGIN
IF (OBJECT_ID('mfriendslists_foreign_key', 'F') IS NOT NULL)
BEGIN
    Alter TABLE m_friends_lists DROP CONSTRAINT mfriendslists_foreign_key
END
END
go

IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'msg_rooms')
BEGIN
IF (OBJECT_ID('msg_rooms_foreign_key', 'F') IS NOT NULL)
BEGIN
    Alter TABLE msg_rooms DROP CONSTRAINT msg_rooms_foreign_key
END
END
go

IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'activity')
BEGIN
IF (OBJECT_ID('FK_AM_MemID', 'F') IS NOT NULL)
BEGIN
    Alter TABLE activity DROP CONSTRAINT FK_AM_MemID
END
END
go

IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'club_member_list')
BEGIN
IF (OBJECT_ID('FK_CM_MemID', 'F') IS NOT NULL)
BEGIN
    Alter TABLE club_member_list DROP CONSTRAINT FK_CM_MemID
END
END
go

IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'members')      
BEGIN
drop table members
END
go


CREATE TABLE members(
memId         int IDENTITY (1,1) not null,
memberId    varchar(30),
memName       nvarchar(20),
memNickN      nvarchar(20),
memPwd        varchar(200),
memBirthday   date,
memMail       varchar(50),
memAddr       nvarchar(max),
memPhone      varchar(15),
memIntr       nvarchar(max),
memFileName   nvarchar(20),
memPhoto      varbinary(max),
memStatus     nvarchar(20),
memRole       nvarchar(20),

CONSTRAINT members_primary_key PRIMARY KEY(memId),
CONSTRAINT memberId UNIQUE (memId, memberId)
);

INSERT INTO members(memberId,memName,memNickN,memPwd,memBirthday,memMail,memAddr,memPhone,memIntr,memStatus,memRole) 
VALUES('eeit970301','蔡家華','番薯島小霸王','eeit970301','1990/10/11','eeit970301@gmail.com','台北市大安區和平東路1號','0912-345-678','哇哈哈哈哈','正常','一般會員')
INSERT INTO members(memberId,memName,memNickN,memPwd,memBirthday,memMail,memAddr,memPhone,memIntr,memStatus,memRole)  
VALUES('eeit970302','馬立夯','贏馬赫','eeit970302','1973/07/25','eeit970302@gmail.com','基隆市中正區和平東路5號','0987-645-321','我愛騎車旅遊','正常','社團管理員')
INSERT INTO members(memberId,memName,memNickN,memPwd,memBirthday,memMail,memAddr,memPhone,memIntr,memStatus,memRole) 
VALUES('eeit970303','陳建志','見仁見智','eeit970303','1970/01/05','eeit970303@gmail.com','台北市中正區館前路257號','0966-555-444','我喜歡爬山','正常','一般會員')

select * from members;

go